table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
/* table tr:nth-child(even){background-color: #f2f2f2;} */

/* table tr:hover {background-color: #ddd;} */

table tr{
  background-color: #ffffff;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6495ed;
  color: white;
}
table >>> button{
  background-color: #6495ed;
  color: white;
  padding: 2px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin: 2px;
}

h1{
    text-align: center;
  }
  
  container{
    padding: 300px;
  }
  
  input[type=text]{
    width: 98%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: cornflowerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #037ffc;
  }
  
  .formContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  