<app-header></app-header>
<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Welcome to Fund Transfer Application {{ fName }}{{ lName }}</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>

<mat-card>
    <div class="profileContainer">
        <mat-card-title>Account Summary</mat-card-title>
        <mat-card-subtitle>Account Type:{{accountType}}</mat-card-subtitle>
        <mat-card-content>First Name : {{fName}}</mat-card-content>
        <mat-card-content>Last Name : {{lName}}</mat-card-content>
        <mat-card-content><p>Account Number : {{accountNumber}}</p></mat-card-content>
        <mat-card-content>Current Balance : {{accountBalance|currency:'INR'}}</mat-card-content>
        <mat-card-content>Mobile No : {{mobile}}</mat-card-content>
        <mat-card-content>Address : {{address}}</mat-card-content>
    </div>
  </mat-card>
