<app-header></app-header>
<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span>Benificiary List</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <div class="search-div">
    <button mat-raised-button (click)="onCreate()">
      <mat-icon>add</mat-icon>Create
    </button>
  </div>
<table mat-table [dataSource]="benificiaryList" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="benificiaryName">
        <th mat-header-cell *matHeaderCellDef> Payee Name </th>
        <td mat-cell *matCellDef="let element"> {{element.benificiaryName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="benificiaryAccountNumber">
        <th mat-header-cell *matHeaderCellDef> Account Number </th>
        <td mat-cell *matCellDef="let element"> {{element.benificiaryAccountNumber}} </td>
      </ng-container>
    
      <ng-container matColumnDef="bankName">
        <th mat-header-cell *matHeaderCellDef> Payee Bank </th>
        <td mat-cell *matCellDef="let element"> {{element.bankName}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <!--<button mat-icon-button><mat-icon>launch</mat-icon></button>-->
          <button mat-icon-button (click)="onSelect(row.id)"><mat-icon>account_balance</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-container *ngIf="selectedBenificiary">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Transfer Funds</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
<div class="footer-form">
    <form (ngSubmit)="submitFundsTransfer()" [formGroup]="transferFundsForm">
        <div class="controles-container">
          <mat-form-field>
            <input formControlName="benificiaryName" matInput placeholder="Benificiary Name*" readonly>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input formControlName="benificiaryAccountNumber" matInput placeholder="Account Number*" readonly>
              <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="transferAmount" matInput placeholder="Amount*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </div>
        </div>
</form>
</div>
</ng-container>


