<app-main-header></app-main-header>
<ng-template [ngIf]="petObj">
    <div class="formContainer">
        <h1>Update Pet Details</h1>
        <form (ngSubmit)="updatePet()" [formGroup]="updatePetForm">
        <div class="row">
          <div class="col-25">
            <label for="fname">Pet Name</label>
          </div>
          <div class="col-75">
            <input type="text" name="petName" placeholder="Enter pet Name" formControlName="petName">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname">Pet Age</label>
          </div>
          <div class="col-75">
            <input type="text" value={{petObj.petAge}} name="petAge" placeholder="Enter pet Name" formControlName="petAge">
          </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Owner Address</label>
            </div>
              <div class="col-75">
                <input type="text" name="ownerAddress" value={{petObj.ownerAddress}} placeholder="Enter owner address" formControlName="ownerAddress">
              </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Owner Email</label>
              </div>
              <div class="col-75">
                <input type="text" name="ownerEmail" value={{petObj.ownerEmail}} placeholder="Enter owner email" formControlName="ownerEmail">
              </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Owner Phone</label>
              </div>
              <div class="col-75">
                <input type="text" name="ownerPhone" value={{petObj.ownerPhone}} placeholder="Enter Owner phone number" formControlName="ownerPhone">
              </div>
        </div>
        <div class="row">
          <input type="submit" value="Submit">
        </div>
        </form>
      </div>
 </ng-template>
<!--<ng-container *ngIf="petObj; else elseTemplate">-->
<!-- <ng-container *ngIf="petObj">
<h1>Selected Pet: </h1>
<table id="selPet">
    <tr>
      <th>Sl No.</th>
      <td>{{petObj.id}}</td>
    </tr>
    <tr>
        <th>Pet name</th>
        <td>
            <input type="text" value={{petObj.petName}} name='petName' />
        </td>
    </tr>
    <tr>
        <th>Pet Age</th>
        <td>
            <input type="text" value={{petObj.petAge}} name='petName' />
        </td>
    </tr>
    <tr>
        <th>Owner Address</th>
        <td>
            <input type="text" value={{petObj.ownerAddress}} name='petName' />
        </td>
    </tr>
    <tr>
        <th>Owner Phone</th>
        <td>{{petObj.ownerPhone}}</td>
    </tr>
    <tr>
        <th>Owner Email</th>
        <td>{{petObj.ownerEmail}}</td>
    </tr>
</table>
<button (click)="clearSelectedPet()">Clear Selected Pet</button>
<button (click)="updateSelectedPet()">Update Pet</button>
<button (click)="deleteSelectedPet()">Delete Pet</button>
</ng-container> -->
<!-- <ng-template #elseTemplate>
    <p>No Pets Selected</p>
</ng-template> -->
